
        li{
            margin: 20px 0;
       }

      
       main {
       z-index: 0;
    }

    .ui-layer { 
        background-color: rgb(20, 13, 13);
        display:flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-items: center;
        font-family: Arial, serif;
        font-size: 13px;
        z-index: -1;
    }
       .game-title {
           display: flex;
           align-self: center;
           justify-self: center;
           background-image: url('images/game-title.png');
           background-size: cover;
           width: 30vw;
           height: 20vw;  
       }

       .level {
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-items: center;   
           width: 70vw;
           height:20vw;  
       }

        .background {
           display:inline-block;
           background-image: url('images/background.png');
           background-size: cover;
           position: absolute;
           width: 70vw;
           height:20vw;  
       }
     

       .characters {
           display: flex;
           flex-flow: row nowrap;
           justify-content: space-between;
           position: relative;
           top: 10vw;
           width: 50vw;
       }

       .hero {
           display: inline-block;
           width: 5vw;
           height: 5vw;  
       }



       .enemy {
           display:inline-block;
           width: 10vw;
           height: 10vw;  
       }

       .quiz-container {    
           display: flex;
           flex-flow: row nowrap;
           padding-top: 20px;
           justify-content: center;
       }

       .question {
           background-color: clear;
           color: rgb(139, 139, 139);
           font-family: Arial, sans-serif;
           font-size: 13px;            
           border-style: solid;
           padding: 7px 12px 7px 12px;
           margin-right: 10px;
           border-radius: 9%;
           border-color: rgb(235, 235, 235);
       }

       .response-buttons {
           color: rgb(139, 139, 139); 
           font-family: Arial, sans-serif;
           font-size: 13px;            
           border-style: solid;
           padding: 15px 15px 7px 12px;
           margin: 3px 3px 3px 60px;
           border-radius: 9%;
           border-width: 4px;
           border-color: rgb(235, 235, 235);
           
           
       }

       .choices {
           color: rgb(139, 139, 139); 
           font-family: Arial, sans-serif;
           font-size: 13px;            
           border-style: solid;
           padding: 7px 12px 7px 12px;
           border-radius: 9%;
           border-color: rgb(235, 235, 235);
       }

       #choice-a {        
        border-style: solid;
        border-width: 1px;
        border-radius: 9%;
    }

       .choice:hover  {
           box-shadow: 0px 0px 40px 7px #ff4800;
       }
